body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.w3-black {
    display: flex;
    justify-content: center;
}
#para {
    font-size: 26px;
}
#send {
    padding: 20px;
}


.w3-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
